{% extends 'base.html.twig' %}

{% block title %}Nouvelle Marque{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle Marque</h1>

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn btn-success">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
