{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}

    <div class="container mt-5">
        <h1 class="mb-4 text-center">Mon compte</h1>
        <p>Email : {{app.user.email}}</P>
    </div>
{% endblock %}